@import "./reset.css";
@import "./nav.css";
@import "./footer.css";
/* @import "./vars.css"; */

body {
  background-color: var(--background-primary);
  --bg: url(https://img.freepik.com/free-photo/arrangement-tropical-beach-vacation-accessories_23-2148131778.jpg?w=1380&t=st=1683892053~exp=1683892653~hmac=1fcea6c1f907c2e9a11704c6a72ed02e451e137e311edca658d45ba7fb9799cf);
  background-image: var(--bg);
  background-size: cover;
  color: black;
  min-width: 768px;
  transform-style: preserve-3d;

}

#root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;

}

main {
  display: grid;
  grid-template-columns: 3fr 1fr;
  max-height: 100vh;
  width: 100%;
  height: calc(100vh - var(--navHeight) - var(--footerHeight));
  transform-style: preserve-3d;
  place-items: center;
}

.checklist-container {
  transform-style: preserve-3d;
  height: 80vh;
  margin-top: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.suitcase-container {
  transform-style: preserve-3d;
  margin-top: 25vh;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 65%;
  min-width: calc(
    (
      var(--suitcaseColumns) * var(--suitcaseContentMin) +
        var(--suitcaseColumns) * var(--suitcaseGap) + var(--suitcasePadding) * 2 +
        var(--suitcaseBorderSize) * 2 + 100px
    )
  );
}
