@import "./reset.css";
@import "./nav.css";
@import "./footer.css";
/* @import "./vars.css"; */

body {
  background-color: var(--background-primary);
  background-image: url(https://img.freepik.com/free-photo/straw-hat-kept-empty-beach-chair_1252-488.jpg?w=1380&t=st=1683881136~exp=1683881736~hmac=5c08f8e518a973de04445e8e4a0814f56c1ebf97dd959805bdd90d389f05030b);
  background-size: cover;
  color: black;
  min-width: 768px;
  transform-style: preserve-3d;

}

#root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;

}

main {
  display: grid;
  grid-template-columns: 3fr 1fr;
  max-height: 100vh;
  width: 100%;
  height: calc(100vh - var(--navHeight) - var(--footerHeight));
  transform-style: preserve-3d;
  place-items: center;
}

.checklist-container {
  transform-style: preserve-3d;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.suitcase-container {
  transform-style: preserve-3d;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 65%;
  min-width: calc(
    (
      var(--suitcaseColumns) * var(--suitcaseContentMin) +
        var(--suitcaseColumns) * var(--suitcaseGap) + var(--suitcasePadding) * 2 +
        var(--suitcaseBorderSize) * 2 + 100px
    )
  );
}
