.checklist {
  background-color: var(--light);
  background-image: url("https://www.transparenttextures.com/patterns/lined-paper.png");
  background-size: 600px;
  height: 95%;
  width: 95%;
  font-family: cursive;
  color: var(--dark);
  font-size: clamp(0.8rem, var(--fontSize), 1.3rem);
  padding: 2rem;
  box-shadow: 5px 5px 10px -5px var(--dark);
  transform: rotate(-2deg);
  overflow: auto;
}

.checklist > h2 {
  font-size: clamp(1.5rem, calc(var(--fontSize) * 2), 2.25rem);
  text-align: center;
  margin-bottom: 2rem;
}

.checklist li {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0 0 10px 15px;
  text-indent: -4px;
  gap: 1rem;
}

.checklist input[type="checkbox"] {
  --success: rgb(44, 199, 44);
  color: var(--light);
  width: 2rem;
  height: 2rem;
  accent-color: var(--success);
}

.area-select {
  margin-bottom: 1rem;
  padding: 0.5rem;
  width: 100%;
}
