nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 1rem;
  gap: 1rem;
  height: var(--navHeight);
  font-size: 2rem;
}

.logo {
  height: var(--navHeight);
  aspect-ratio: 1/1;
}
