header {
  width: 100vw;
  min-width: var(--minWidth);
  background-color: var(--secondary);
  color: var(--light);
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 0 2vw;
  height: var(--navHeight);
}

nav > div {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.25rem;
  gap: 1.5rem;
}

.logo {
  height: 80%;
  aspect-ratio: 1/1;
}
