nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 3rem;
  margin: 1rem;
  gap: 1rem;
  height: var(--navHeight);
  font-size: 2rem;
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(5px);
  width: fit-content;
  color:rgb(71, 191, 83);
  font-family: cursive;
  font-weight: bold;
  position: fixed;
}

.logo {
  height: var(--navHeight);
  aspect-ratio: 1/1;
}
