
.suitcase-container {
  perspective: 1000px;
  transform-style: preserve-3d;
}


.suitcase-inner {
  transform-style: preserve-3d;
  --width: 500px;
  --suitcaseColumns: 4;
  --suitcaseRows: 3;
  --height: 350px;
  --depth: 80px;
  display: grid;
  width: var(--width);
  height: var(--height);
  grid-template-columns: repeat(var(--suitcaseColumns), 1fr);
  grid-template-rows: repeat(var(--suitcaseRows), 1fr);
  background-color: var(--secondary);
  box-shadow: 0 0  16px inset var(--dark);
  transform: rotateX(45deg);
  position: relative;

}

.suitcase-front {

  background-color: var(--dark);
  width: 100%;
  height: var(--depth);
  position: absolute;
  bottom: calc(var(--depth) * -1);
  left: 0;
  transform: rotateX(90deg);
  transform-origin: top;
}

.suitcase-inner .item {
  max-width: 100%;
  max-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transform-origin: bottom;
  margin: 0%;
  transform: rotateX(90%);
}

.suitcase-inner .item>img {
  width: 100%;
  aspect-ratio: 1/1;
}

.suitcase-left {

  width: var(--depth);
  height: var(--height);

  background-color: var(--dark);
  position: absolute;
  top: 0;
  left: 0;
  transform: rotateY(-90deg);
  transform-origin: left;
}

.suitcase-right {
  transform-style: preserve-3d;

  width: var(--depth);
  height: var(--height);

  background-color: var(--dark);
  position: absolute;
  top: 0;
  right: 0;
  transform: rotateY(90deg);
  transform-origin: right;
}

.suitcase-back {
  transform-style: preserve-3d;

  width: var(--width);
  height: var(--depth);

  background-color: var(--dark);
  position: absolute;
  top: 0;
  left: 0;
  transform: rotateX(90deg);
  transform-origin: top;
}