.suitcase-container {
  transform-style: preserve-3d;
  perspective: 1000px;
  filter: drop-shadow(5px 5px 25px var(--light));

}


.suitcase-inner {
  transform-style: preserve-3d;
  --width: 500px;
  --suitcase-color: brown;
  --suitcaseColumns: 4;
  --suitcaseRows: 3;
  --height: 350px;
  --depth: 80px;
  display: grid;
  width: var(--width);
  height: var(--height);
  grid-template-columns: repeat(var(--suitcaseColumns), 1fr);
  grid-template-rows: repeat(var(--suitcaseRows), 1fr);
  background-color: rgb(65, 14, 14);
  box-shadow: 0 0  16px inset var(--dark);
  transform: rotateX(45deg);
  position: relative;
}

.suitcase-inner > :where(div:not(.item)) {
  transform-style: preserve-3d;
  background-image: url("https://img.freepik.com/free-photo/brown-creased-leather-textured-background_53876-108432.jpg?w=1380&t=st=1683889632~exp=1683890232~hmac=560590cc1974fa1c2d03b9fb54577a6bb245ce571427d4694342e9f3ee31c51b");
}

.suitcase-front {
  transform-style: preserve-3d;

  width: 100%;
  height: var(--depth);
  position: absolute;
  bottom: calc(var(--depth) * -1);
  left: 0;
  transform: rotateX(90deg);
  transform-origin: top;
}

.suitcase-inner .item {
  transform-style: preserve-3d;

  max-width: 100%;
  max-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transform-origin: bottom;
  margin: 0%;
  transform: rotateX(90%);
  filter:drop-shadow(8px 8px 8px var(--dark));
  animation: put 1s forwards;

}

.suitcase-inner .item>img {
  width: 100%;
  aspect-ratio: 1/1;
}

.suitcase-left {
  transform-style: preserve-3d;

  --direction: to right;

  width: var(--depth);
  height: var(--height);

  background-color: var(--dark);
  position: absolute;
  top: 0;
  left: 0;
  transform: rotateY(-90deg);
  transform-origin: left;
}

.suitcase-right {
  --direction: to left;

  transform-style: preserve-3d;

  width: var(--depth);
  height: var(--height);

  background-color: var(--dark);
  position: absolute;
  top: 0;
  right: 0;
  transform: rotateY(90deg);
  transform-origin: right;
}

.suitcase-back {
  transform-style: preserve-3d;

  width: var(--width);
  height: var(--depth);

  background-color: var(--dark);
  position: absolute;
  top: 0;
  left: 0;
  transform: rotateX(90deg);
  transform-origin: top;
}

.suitcase-inner > .suitcase-top {
  transform-style: preserve-3d;
  width: var(--width);
  height: var(--height);
  position: absolute;
  top: calc(var(--height) * -1);
  left: 0;
  transform: translateZ(var(--depth)) rotateX(-180deg);
  transform-origin: bottom;
  z-index: 3;
  animation: open 3s forwards;
}

.hang {
  width: 100px;
  height: 30px;
  background: rgb(255, 200, 80);
  position: absolute;
  bottom: -30px;
  left: calc(50% - 50px);
  transform: translateZ(50px);
  clip-path: polygon(0 0, 25% 0, 25% 50%, 75% 50%, 75% 0, 100% 0, 100% 100%, 0 100%);
}

.close {
  background: rgb(255, 200, 80);
  position: absolute;
  width: 20px;
  height: 30px; 
  left: 15%;
  bottom:-1px;
  transform: rotateX(90deg) translateY(var(--depth));
  transform-origin: bottom;
}

.close:last-of-type  {
  left: calc(75% + 20px);
}

@keyframes open {
  to {
    transform: translateZ(var(--depth)) rotateX(-20deg);
  }
}

@keyframes put {
  from {
    transform: translateX(200px) translateZ(350px);
    opacity: 0;
  }
  to {
    transform: translateZ(0);
    opacity: 1;
  }
}