:root {
  --minWidth: 768px;
  --navHeight: 5vh;
  --footerHeight: 5vh;
  --fontSize: 1.5vw;
  --background-primary: rgb(230, 245, 255);
  --secondary: rgba(124, 115, 110, 0.8);
  --light: rgb(245, 245, 245);
  --dark: rgb(25, 25, 25, 0.9);
}
